<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <!-- UnComment this section to enable log Desktop Agent Actions to a file. File location is specified below. Default Location is (c:\temp) -->
  <!--<system.diagnostics>
        <trace autoflush="true" indentsize="4">
          <listeners>
            <add name="filelog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="DateTime" customLocation="c:\TEMP" location="Custom" logFileCreationSchedule="Daily" />
          </listeners>
        </trace>
      </system.diagnostics>-->
  <appSettings>
    <add key="ManagerTitle" value="Webmap Desktop Agent"/>
    <add key="ManagerContent" value="Listening on port {0}"/>
    <add key="PLUGIN_SEARCH_PATH" value=".\Plugins"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
