<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ManagerTitle" value="Webmap Desktop Agent"/>
    <add key="ManagerContent" value="Listening on port {0}"/>
    <add key="AGENT_HOST" value="Localhost"/>
    <add key="AGENT_PORT" value="60064"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--<add key="PLUGIN_SEARCH_PATH" value=".\Plugins"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
